@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Creepy";
    src: url("../fonts/Creepy.woff") format("woff");
}

@font-face {
    font-family: "Creepy";
    src: url("../fonts/Creepy.woff2") format("woff2");
}

.toggle {
    position: absolute;
    right: 1%;
    z-index: 1;
    color: #e62649;
}

.toggle #toggler {
    visibility: hidden;
}

.toggle #toggler:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    position: relative;
    display: flex;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    background-color: #333;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.fa-moon {
    color: #fafc49;
}

.fa-sun {
    color: #f9452c;
}

.ball {
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    background-color: #c49e57;
}

body.dark {
    background-color: #1F2229;
}

body .memory-card {
    border: 1px solid #1C7CCC;
    border-radius: 5px;
}

body.dark .memory-card {
    border: none
}

.blurred {
    filter: blur(10px);
}

.pop {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 450px;
    background-color: #100f4d;
    text-align: center;
    border-radius: 10px;
    z-index: 1000;
    padding: 75px 0;
}

.pop h1 {
    color: #FF6D00;
    font-family: "Creepy";
    font-size: 50px;
    font-weight: normal;
}

.pop ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    justify-content: center;
}

.pop ul li a {
    display: block;
    width: 100%;
    font-weight: 600;
    padding: 5px 50px;
    border: 1px solid snow;
    color: snow;
    text-decoration: none;
    transition: transform 0.5s;
}

.pop ul li a:hover {
    color: #100f4d;
    background-color:snow;
}

.pop .btn {
    width: 125px;
    margin-left: 7%;
    margin-top: 30px;
    transition: transform 0.5s;
}

.container {
    margin: calc((100vh - 500px)/2) calc((100% - 500px)/2);
    background-image: radial-gradient(#9d5900, #3d2200);
    height: 500px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #41280d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .content {
    text-align: center;
    padding: 20px 80px;
    margin: 100px;
    background-image: radial-gradient(#1c7ccc, #100f4d);
    border-radius: 10px;
    box-shadow: 0px 5px 20px #124d7e;
}

.container h1 {
    color: #FF6D00;
    font-family: "Creepy";
    font-size: 5em;
    font-style: italic;
    padding: 10px;
}

.container i {
    color: #fff;
    font-size: 15px;
    font-style: italic;
}

.container .btn {
    font-family: "Arima Madurai";
    font-variant: small-caps;
    transform: translateY(-100%); 
}
