@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1C7CCC;
}

.btn-light {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #1C7CCC;
    transition: 0.5s;
    font-variant: small-caps;
    font-weight: bold;
}

.btn-light:hover {
    background-color: transparent;
    color: #fffafa;
}

.container {
    border-radius: 10px;
    box-shadow: 0px 0px 20px #333;
}

.container h1 {
    font-family: "Neuton";
}

ol {
    list-style: none;
}

.choice {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 20px #333;
}

@media screen and (max-width: 576px) {
    .choice {
        height: 350px;
    }
}

.choice h1 {
    color: #1C7CCC;
    font-family: 'Neuton';
    font-size: 60px;
    font-variant: small-caps;
    font-weight: bolder;
}

.choice .card {
    height: 100px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 20px #333;
    transition: transform 0.5s;
}

.choice .card:hover {
    background-color: #1C7CCC;
    color: #fffafa;
}

.choice .card i {
    color: #1C7CCC;
    font-size: 22px;
}

.choice .card:hover i {
    color: #fffafa;
}

.choice .card .card-subtitle {
    font-size: 12px;
    font-variant: small-caps;
    font-weight: bold;
}

.board {
    visibility: hidden;
}

.board h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.board h3 span {
    color: #100f4d;
    font-size: 22px;
    font-weight: bold;
}

.board .player-turn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    box-shadow: 5px 5px 20px #333;
}

.board .player-turn .player {
    margin: 3px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    text-align: center;
}

.board .player-turn .active {
    color: white;
    background-color: #1C7CCC;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
}

.board section {
    display: flex;
}

.board section span {
    cursor: pointer;
    display: block;
    background-color: #fffafa;
    color: #1C7CCC;
    font-size: 40px;
    margin: 2px;
    width: 80px;
    height: 80px;
    line-height: 75px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

.board section span:hover {
    background-color: #b1c2cf;
}

.result {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result h1 {
    color:#28a745;
    font-family: 'Neuton';
    font-size: 60px;
    font-variant: small-caps;
    font-weight: bold;
}

.result .btn {
    width: 100px;
}

@media screen and (max-width: 576px) {
    .choice {
        height: 350px;
        width: 90%;
    }

    .choice h1, .result h1 {
        font-size: 50px;
    }

    .ai, .result {
        width: 90%;
    }
}
