@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Creepy";
    src: url("fonts/Creepy.woff") format("woff");
}

@font-face {
    font-family: "Creepy";
    src: url("fonts/Creepy.woff2") format("woff2");
}

/* dark-mode toggler */
.toggle {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 1;
    color: #e62649;
}

.toggle #toggler {
    visibility: hidden;
}

.toggle #toggler:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    position: relative;
    display: flex;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    background-color: #333;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.fa-moon {
    color: #fafc49;
}

.fa-sun {
    color: #f9452c;
}

.ball {
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

body.dark {
    background-color: #1F2229;
}

body .memory-card {
    border: 1px solid #1C7CCC;
    border-radius: 5px;
}

body.dark .memory-card {
    border: none
}

.blurred {
    filter: blur(3px);
}

.pop {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 225px;
    width: 450px;
    background-color: #100f4d;
    text-align: center;
    border-radius: 10px;
    z-index: 1000;
    padding: 75px 0;
}

.pop h1 {
    color: #FF6D00;
    font-family: "Creepy";
    font-size: 50px;
    font-weight: normal;
}

.score-board {
    width: 100%;
    color: #f5fffa;
    text-align: center;
    background-color: #0000ff;
    padding: 15px;
    margin-bottom: 10px;
}

.memory-game {
    margin: auto;
    width: 630px;
    height: 520px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    perspective: 1000px;
}

.memory-card {
    position: relative;
    display: flex;
    text-align: center;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: url('images/wand.png'), pointer;
}

@media screen and (max-width: 650px) {
    .memory-game {
        width: 315px;
        height: 1040px;
        grid-template-columns: repeat(2, auto);
    }
}

.memory-card:hover .front-face, .memory-card:hover .back-face{
    background-color: #3E9EEE;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 0px;
    border-radius: 5px;
    background-color: #1C7CCC;
    position: absolute;
    backface-visibility: hidden;
}

.front-face:hover {
    padding: 5px;
}

.back-face {
    transform: rotateY(180deg);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card i {
    font-size: 40px;
    line-height: 160px;
}

.group-btn {
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.btn {
    width: 150px;
    font-variant: small-caps;
    font-weight: bold;
    margin: 5px;
}
