html, body {
    display: grid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    place-items: center;
    background-color: #f2f2f2;
}

h1 {
    color: #e74c3c;
}

.slider {
    max-width: 1150px;
    display: flex;
}

.slider .card {
    background-color: #fff;
    flex: 1;
    margin: 0 10px;
    box-shadow: 5px 10px 20px #777;
    margin-bottom: 25px;
}

.slider .card .img {
    position: relative;
    height: 350px;
    width: 100%;
}

.slider .card .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .card .locked {
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.slider .card .unlocked {
    visibility: hidden;
}

.slider .card .content {
    padding: 10px 20px;
}

.slider .card .sub-title {
    font-size: 20px;
    font-weight: bolder;
    color: #e74c3c;
}

.card .content .btn {
    display: block;
    margin: 10px 0;
}

.card .content .btn button {
    width: 40%;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content .btn button:hover {
    transform: scale(0.9);
}

.owl-dots {
    display: none;
}
