@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* dark-mode toggler */
.toggle {
    position: absolute;
    top: 5%;
    right: 18%;
    z-index: 1;
    color: #e62649;
}

.toggle #toggler {
    visibility: hidden;
}

.toggle #toggler:checked + .label .ball {
    transform: translateX(24px);
}

.label {
    position: relative;
    display: flex;
    height: 26px;
    width: 50px;
    border-radius: 50px;
    background-color: #333;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.fa-moon {
    color: #fafc49;
}

.fa-sun {
    color: #f9452c;
}

.ball {
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: 0.5s;
}

/* dark-mode changes */
body {
    transition: 0.5s;
}

body.dark {
    background-color: #1F2229;
}

body.dark #score .row:nth-child(3) {
    color: #E0DDD6;
}

body.dark #game .container h1 {
    color: #adcf90;
}

body.dark #game .container h2 {
    color: #ffffff;
}

/* top section */
#top .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;
    padding: 10px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/rock-paper-scissor.jpg);
    background-position: center;
    background-size: cover;
}

#top .row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#top .title .col {
    color: #cccccc;
    font-family: "Neuton";
    font-size: 65px;
    font-variant: small-caps;
    font-weight: bold;
}

#top .title .col span {
    color: #dd8435;
}

#top .subtitle .col {
    color: #b88e8e;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: bold;
}

#top .subtitle .col span {
    color: #adcf90;
}

#top .instruction {
    font-size: 30px;
    margin-top: 25px;   
}

#top .instruction a {
    color: #9acd32;
}

#top .instruction a:hover {
    color: #9aab67;
}

/* score */
#score .row:nth-child(1) {
    text-align: center;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

#score .row:nth-child(2) {
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}

#score .row:nth-child(2) .col {
    text-align: center;
}

#score .row:nth-child(3) {
    color: #1F2229;
    text-align: center;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bolder;
}

/* game */
#game .container {
    margin-bottom: 50px;
}

#game .container h1 {
    text-align: center;
    color: #52306f;
    font-variant: small-caps;
}

#game .container h2 {
    text-align: center;
    color: #333333;
    font-variant: small-caps;
}

#game .container .result-box {
    height: 100px;
}

#game .icons {
    text-align: center;
}

#game i {
    color: #fff;
    font-size: 60px;
    border: 3px solid #e62649;
    border-radius: 50%;
    padding: 20px;
    margin: 0 30px;
    transition: 0.5s;
    background-color: #e62649;
    cursor: pointer;
    box-shadow: 10px 10px 20px #e62649;
}

#game i:hover {
    transform: scale(1.1);
}

body.dark #game i:hover {
    transform: scale(1);
}

body.dark #game i, body.dark #game i:active, body.dark #game i:focus {
    color: #1F2229;
    border: 0;
    outline: none;
    box-shadow: none;
}

body.dark #game i:nth-child(1) {
    background-color: rgba(0, 226, 255, 1);
}

body.dark #game i:nth-child(1):hover {
    color: rgba(0, 226, 255, 1);
    border: rgba(0, 226, 255, 1);
    background-color: #1F2229;
    box-shadow: 0 0 20px rgba(0, 226, 255, 1),
                0 0 40px rgba(0, 226, 255, 1),
                0 0 60px rgba(0, 226, 255, 1),
                0 0 80px rgba(0, 226, 255, 1),
                0 0 0 8px rgba(0, 226, 255, 0.1);
}

body.dark #game i:nth-child(2) {
    background-color:rgb(221, 37, 166);
}

body.dark #game i:nth-child(2):hover {
    color:  rgb(221, 37, 166, 1);
    border: rgb(221, 37, 166, 1);
    background: #1F2229;
    box-shadow: 0 0 20px rgb(221, 37, 166, 1),
                0 0 40px rgb(221, 37, 166, 1),
                0 0 60px rgb(221, 37, 166, 1),
                0 0 80px rgb(221, 37, 166, 1),
                0 0 0 8px rgba(221, 37, 166, 0.1);
}

body.dark #game i:nth-child(3) {
    background-color:rgba(255, 214, 0, 1);
}

body.dark #game i:nth-child(3):hover {
    color:  rgba(255, 214, 0, 1);
    border:  rgba(255, 214, 0, 1);
    background: #1F2229;
    box-shadow: 0 0 20px rgba(255, 214, 0, 1),
                0 0 40px rgba(255, 214, 0, 1),
                0 0 60px rgba(255, 214, 0, 1),
                0 0 80px rgba(255, 214, 0, 1),
                0 0 0 8px rgba(255, 214, 0, 0.1);
}
